.watch-wrapper{
    display:flex;
    flex-direction:column;
    row-gap:2vw;
    padding: 2vw 0;
    margin: 0 6vw;
}

.watch-card{
    background-color: unset !important;
    border-radius: 0.6vw !important;
}

.watch-card-head, .watch-card-foot{
    background-color: var(--nav-bg-color) !important;
    padding: 1vw !important;
}

.watch-card-body{
    height: 30vw !important;
    background-color: var(--input-bg) !important;
}