.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 20;
    height: var(--height-navbar);
    padding: 0.1vw 1vw;
    border-bottom: 0.1vw solid rgb(52, 52, 52);
    background-color: var(--nav-bg-color);
    color: var(--font-color-sec);
}

.navbar * {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-left{
    /* flex:2; */
    margin: 0.3vw 0;
    column-gap: 0.5vw;
}

.nav-left > *:first-child{
    height: 100%;
    width: 100%;
}

.searchBar-container{
    height: 2.5vw;
    background-color: var(--input-bg);
    border-radius: 2rem;
    padding: 0 1vw;
}

.searchBar-container *:first-child {
    font-size: 1.5vw !important;
}

.searchBar-container input{
    font-size: 1.1vw !important;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--font-color-main);
}


.nav-center{
    flex: 5;
    justify-content: center;
    column-gap: 0.5vw;
}

.testing{
    /* background-color: blue; */
    border-radius: 0 !important;
    border-bottom: 0.3vw solid blue;
}

.testing:hover{
    /* background-color: blue !important; */
}

.nav-center a{
    color: inherit;
}

.nav-center > a > div{
    height: 3vw;
    border-radius: 0.3em;
}

.nav-center *{
    font-size: 2vw !important;
    width: 6vw !important;
}

.nav-center > a > *:hover{
    background-color: var(--bg-hover-main);
}


.nav-right{
    flex:2;
    justify-content: flex-end;
    padding: 0.5vw 0;
    gap: 0.5vw;
}

.nav-right *{
    font-size: 1.5vw !important;

}

.nav-right > button{
    background-color: var(--bg-color-sec);
    color: var(--font-color-main);
    border-radius: 2vw;
}
