.post-container{
    background-color: var(--nav-bg-color);
    border-radius: 0.7vw;
    padding: 0.6vw 0;
    margin: 1.2vw 0;
    color: var(--font-color-sec);
}


.post-head, .post-foot{
    margin: 0 1vw;
    line-height: 1.3vw;
}

.post-author-profile{
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
}

.post-author-profile > *{
    display: flex;
    flex-direction: column;
}
.profile-img img{
    height: 2.6vw;
    width: 2.6vw;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name{
    color: var(--icon-col-main);
    font-size: 1.1vw;
    font-weight: 600;
}

.profile-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-time{
    font-size: 0.8vw;
    display: flex;
    text-align: center;
}

.post-img{
    display: flex;
    justify-content: center;
}

.post-img img{
    min-width: 60%;
    max-width: 100%;
}

.post-description{
    padding: 0.5vw 0;
    color: var(--font-color-main);
    font-size: 1vw;
}

/* *********** */

.post-impression-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5vw 0;
    font-size: 1vw;
}

.impression-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;
    padding: 0.2vw 0;
    /* font-weight: 600; */
    column-gap: 0.5vw;
}

.impression-btn-container > *{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.4vw 0;
    justify-content: center;
}

.impression-btn-container > * > *{
    font-size: 1.4vw !important;
}

.impression-btn-container > *:hover{
    cursor: pointer;
    border-radius: 0.3vw;
    background-color: var(--bg-hover-main);
}
/* **** */

.comment-input{
    display: flex;
    font-size: 1.8vw;
    align-items: center;
    background-color: var(--input-bg);
    border-radius: 1.5vw;
    padding: 0 0.5vw;
    margin: 0.4vw 0.3vw;
}

.comment-input button{
    font-size: 1.5vw;
    padding: 0.5vw !important;
    color: var(--font-color-sec );
}

.comment-input .react-emoji{
    margin-left: 0.5vw;
    margin-right: 0.1vw;
}

.comment-input .react-emoji *{
    font-size: 0.9vw !important;
    border: none !important;
    padding: 0 !important;
    background-color: transparent !important;
    color: var(--font-color-main) !important;
}

.comment-input .react-input-emoji--container{
    margin: 0;
}

.comment-input .react-input-emoji--placeholder{
    font-weight: 200;
    left: 0;
}

.comment-input .react-input-emoji--button--icon{
    height: 1.3vw;
    width: 1.3vw;
}

/* ** */

.post-comments{
    margin: 1vw 0;
}

.comment-container{
    display: flex;
    flex-direction: row;
    column-gap: 0.4vw;
    color: var(--font-color-main);
    margin-bottom:0.5vw;
}

.comment-bubble{
    background-color: var(--input-bg);
    border-radius: 1.3vw;
    padding: 0.4vw 0.8vw;
}

.comment-bubble > *:nth-child(1){
    font-size: 0.9vw;
    font-weight: 600;
}

.comment-bubble > *:nth-child(1):hover{
    text-decoration: underline;
}
.comment-bubble > *:nth-child(2){
    font-size: 1.05vw;
}