:root{
    --nav-bg-color: #242526;
    --font-color-main: #ededed;
    --font-color-sec: #aeaeae;
    --bg-color-main: #18191a;
    --bg-color-sec: #7575753c;
    --bg-btn-color-sec: #3a3b3c;
    --bg-hover-main: #3a3b3c;
    --bg-hover-sec: #4b51569e;
    --bg-hover-sec-alt: #64686c9e;
    --bg-hover-light: #79797929;
    --icon-col-main: #c4ced4;
    --home-scrollbar-bg: #3e4042;
    --input-bg:#3A3B3C;

    --divider-color:#3e4042;
    --like-color: #2078f4;
    --primary-button-background: #2374E1;
    
    /* Sidebar Icon svg gradients */
    --icon-grad-i: #7de7eb;
    --icon-grad-f: #067bda;

    --height-navbar: 3.4vw;
    /* total navbar length = navbar height + border height + padding height*/
    --height-navbar-total : calc(var(--height-navbar) + 0.1vw + 0.2vw);
    --height-home-sidebar: calc(100vh - var(--height-navbar-total));
}

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    word-break: break-all;
}

body{
    background-color: var(--bg-color-main);
}

.top-hr-outline{
    border-top: 1px solid var(--divider-color);
}
